# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
.venv/
env/
venv/

# Streamlit secrets
.secrets.toml
.env

# OS files
.DS_Store
Thumbs.db

# Logs & cache
*.log
*.sqlite3
.cache/
*.pkl
*.h5

# Data outputs
data/*.csv
!data/lap_data.csv   # keep the sample file

# Model checkpoints
checkpoints/
*.ckpt
*.hdf5
*.pth
*.pt

# VS Code
.vscode/